<h1><%= @task.title %></h1>
<div >
  <p class="card p-4" ><%= @task.details %></p>
</div>
<%# <input type="checkbox" name="" id="completed"> %>
<%# <label for="completed">This task is not completed yet</label> %>
<!-- <%= form_for(@task) do |f| %>
  <%= f.check_box :completed %>
  <%= f.label :completed, 'This task is not completed yet!'%>
<% end %>> -->
<% if @task.completed %>
  <p><i class="fas fa-check-square"></i> This task is completed</p>
<% else %>
  <p><i class="far fa-square"></i> This task is not completed yet</p>
<% end %>
<br><br>
<%= link_to '<i class="fas fa-arrow-circle-left"></i> Back to list'.html_safe, root_path %>
<%= link_to '<i class="fas fa-edit"></i> Edit task'.html_safe, edit_task_path(@task) %>
